<%- include("header") -%>

    <h2>About the App and the Creator</h2>

    <p>This is a simple To-Do-List app that helps both programmers and everyone manage their daily, weekly and monthly goals.</p>
    <p>Created by Tech Phills</p>

<%- include("footer") -%>